name: Review Workflow

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  check:
    name: Basic Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm install --also=dev
      - run: npm run lint
      - run: npm run typecheck
  test:
    name: Tests
    runs-on:
      labels: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm install --also=dev
      - run: npm run test
      - run: npm run test:e2e
